
// 米换算成千米
function formatDistance(num) {
  if (num) {
    var num = (num/1000).toFixed(2) + 'km'
    return num
  }
}
//酒吧类型
function barType(type) {
  if (type == 1) {
    return '餐吧'
  } else if(type == 2) {
    return '清吧'
  } else {
    return '其他'
  }
}
//活动状态
function activityStatus(activity) {
  console.log()
  if (activity.onStatus == 1) {
    return '已暂停预订'
  } else if (activity.num == -1) {
    return '剩余：不限 '
  } else {
    return '剩余：' + activity.num  + '桌'
  }
}

module.exports = {
  formatDistance: formatDistance,
  barType: barType,
  activityStatus: activityStatus
}