
// 米换算成千米
function formatDistance(num) {
  if (num) {
    var num = (num/1000).toFixed(2) + 'km'
    return num
  }
}
//酒吧类型
function barType(type) {
  if (type == 1) {
    return '餐吧'
  } else if(type == 2) {
    return '清吧'
  } else {
    return '其他'
  }
}

//酒吧类型样式
function barStyle(type) {
  if (type == 1) {
    return 'bar-btn-3'
  } else if (type == 2) {
    return 'bar-btn-2'
  } else {
    return 'bar-btn-1'
  }
}

//活动状态
function activityStatus(activity) {
  if (activity.onStatus == 1) {
    return '已暂停预订'
  } else if (activity.num == -1) {
    return '剩余：不限 '
  } else if (activity.num == 0) {
    return '预订已满'
  } else {
    return '剩余：' + activity.num  + '桌'
  }
}

//活动详情底部按钮文字
function activityDetailText(activity) {
  if (activity.onStatus == 1) {
    return '暂停预订'
  } else if (activity.appointStatus == 0) {
    return '取消预订'
  } else if (activity.num == 0) {
    return '预订已满'
  }  else {
    return '立即预订'
  }
}

//今天预订状态
function TobookStatus(status) {
  if (status == 1) {
    return '预订'
  } else if (status == 2 || status == 3) {
    return '已满'
  } else  {
    return '特殊'
  } 
}

//明天预定状态
function TmbookStatus(status) {
  if (status == 2 || status == 4) {
    return '预订'
  } else if (status == 3 || status == 5) {
    return '已满'
  }
}

module.exports = {
  formatDistance: formatDistance,
  barType: barType,
  barStyle: barStyle,
  activityStatus: activityStatus,
  activityDetailText: activityDetailText,
  TobookStatus: TobookStatus,
  TmbookStatus: TmbookStatus
}