
// 米换算成千米
function formatDistance(num) {
  if (num) {
    var num = (num/1000).toFixed(2) + 'km'
    return num
  }
}
//酒吧类型
function barType(type) {
  if (type == 1) {
    return '餐吧'
  } else if(type == 2) {
    return '清吧'
  } else {
    return '其他'
  }
}

//酒吧类型样式
function barStyle(type) {
  if (type == 1) {
    return 'bar-btn-3'
  } else if (type == 2) {
    return 'bar-btn-2'
  } else {
    return 'bar-btn-1'
  }
}

//活动状态
function activityStatus(activity) {
  if (activity.onStatus == 1) {
    return '已暂停预订'
  } else if (activity.num == -1) {
    return '剩余：不限 '
  } else if (activity.num == 0) {
    return '预订已满'
  } else {
    return '剩余：' + activity.num  + '桌'
  }
}

//活动详情底部按钮文字
function activityDetailText(activity) {
  if (activity.onStatus == 1) {
    return '暂停预订'
  } else if (activity.appointStatus == 0) {
    return '取消预订'
  } else if (activity.num == 0) {
    return '预订已满'
  }  else {
    return '立即预订'
  }
}

//今天预订状态
function TobookStatus(status) {
  if (status == 1) {
    return '预订'
  } else if (status == 2 || status == 3) {
    return '已满'
  } else  {
    return '特殊'
  } 
}

//明天预定状态
function TmbookStatus(status) {
  if (status == 2 || status == 4) {
    return '预订'
  } else if (status == 3 || status == 5) {
    return '已满'
  }
}

//订单信息状态
function orderStatus(status) {
  if (status == 0) {
    return '待确认'
  } else if (status == 1) {
    return '已预订'
  } else if (status == 2) {
    return '确认不通过'
  } else if (status == 3) {
    return '用户取消'
  } else if (status == 4) {
    return '超时取消'
  } else if (status == 5) {
    return '已到店'
  } else if (status == 6) {
    return '到店超时'
  }
}

//可预约类型
function appointType (item) {
  if (item) {
    if (item.appointType == 0) {
      return item.date
    } else if (item.appointType == 1) {
      return '预订已满'
    } else if (item.appointType == 2) {
      return '已设置提醒'
    } else if (item.appointType == 3) {
      return '已预订'
    }
  }
}

//酒吧详情在线预订按钮
function appointBtn (type) {
  if (type == 0) {
    return '立即预定'
  } else if (type == 1) {
    return '设置提醒'
  } else if (type == 2) {
    return '取消提醒'
  } else if (type == 3) {
    return '取消预订'
  }
}

function delayTime(time) {
  var nowDate = getDate().getTime()
  var bookTime = getDate(time).getTime()
  if (nowDate <= bookTime) {
    return '-分-秒'
  } else {
    var diff = ((nowDate - bookTime) / 1000).toFixed(0)
    if (diff < 60) {
      return '-分' + diff + '秒'
    } else if (diff >= 60) {
      var mySecond = diff % 60
      var myMinuts = (diff - mySecond) / 60
      return myMinuts + '分' + mySecond + '秒'
    }
  }
}

module.exports = {
  formatDistance: formatDistance,
  barType: barType,
  barStyle: barStyle,
  activityStatus: activityStatus,
  activityDetailText: activityDetailText,
  TobookStatus: TobookStatus,
  TmbookStatus: TmbookStatus,
  orderStatus: orderStatus,
  delayTime: delayTime,
  appointType: appointType,
  appointBtn: appointBtn
}